body {
  background-color: #fff0f5;
}

.sidenav {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e6e6fa;
  overflow-x: hidden;
  padding-top: 20px;
}

.Beep-Boop {
  margin-left: 450px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidenav h3 {
  text-align: center;
  font-weight: bold;
}

#result li.odd {
  background-color: #fff0f5;
}

#result li.even {
  background-color: #e6e6fa;
}
