#result {
  /* background-color: #b7d7e8; */
  background: linear-gradient(
    to bottom,
    #fff0f5,
    #fff0f5 50%,
    #e6e6fa 50%,
    #e6e6fa
  );
  /* The rectangle in which to repeat. 
     It can be fully wide in this case */
  background-size: 100% 40px;
}
body {
    background-color: #fff0f5;
}

.sidenav {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e6e6fa;
  overflow-x: hidden;
  padding-top: 20px;
}
.Beep-Boop {
  margin-left: 450px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.sidenav h3 {
  text-align: center;
}
